 .u-section-1 {
  min-height: 800px;
  background-image: url("https://media-private.canva.com/khyLM/MAFlW4khyLM/1/tl.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJWF6QO3UH4PAAJ6Q%2F20230609%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230609T082344Z&X-Amz-Expires=58159&X-Amz-Signature=6cf89cd5777108ff0030e31ed3f88f90cca8aea44dc83fb7e89ba069fafdea3d&X-Amz-SignedHeaders=host&response-expires=Sat%2C%2010%20Jun%202023%2000%3A33%3A03%20GMT");
  background-position: 50% 50%;
}

.u-section-1 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 363px);
  left: 0;
  background-image: none;
  right: auto;
}

.u-section-1 .u-image-1 {
  width: 449px;
  height: 311px;
  margin: 0 auto 0 calc(((100% - 1140px) / 2) + 231px);
}

.u-section-1 .u-group-1 {
  width: 958px;
  min-height: 511px;
  height: auto;
  margin: -55px auto 0 calc(((100% - 1140px) / 2) + -23px);
}

.u-section-1 .u-container-layout-1 {
  padding-left: 20px;
  padding-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 21px 20px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 42px 627px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  margin: 17px 627px 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 13px 627px 0 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.125rem;
  margin: 0 606px 0 21px;
}

.u-section-1 .u-text-6 {
  font-size: 1.125rem;
  margin: 0 606px 0 21px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: -116px calc(((100% - 1140px) / 2)) 60px auto;
  padding: 7px 27px 7px 26px;
}

.u-section-1 .u-icon-2 {
  font-size: 0.7em;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 956px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 363px);
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2) + 231px);
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2) + -23px);
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    font-size: 6rem;
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 363px);
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 720px) / 2) + 231px);
  }

  .u-section-1 .u-group-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 389px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 389px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 389px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 389px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 389px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 994px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 363px);
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 540px) / 2) + 91px);
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 5px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-right: 219px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    margin-right: 219px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
    margin-right: 219px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
    margin-right: 219px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1rem;
    margin-right: 219px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 889px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 235px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: 21px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 1px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 19px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 19px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 19px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 19px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 19px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 340px) / 2));
  }
} .u-section-2 {
  min-height: 100vh;
}

.u-section-2 .u-layout-wrap-1 {
  background-image: linear-gradient(#478ac9, #db545a);
  width: calc(((100% - 1140px) / 2) + 1190px);
  margin: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 1500px;
  background-image: linear-gradient(#005d8a, #478ac9);
}

.u-section-2 .u-container-layout-1 {
  padding-left: 95px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 46px 20px 0 0;
}

.u-section-2 .u-line-1 {
  width: 182px;
  height: 20px;
  transform-origin: left center 0px;
  border-style: solid;
  margin: 20px auto 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 1221px auto 0 -43px;
  padding: 7px 27px 7px 26px;
}

.u-section-2 .u-icon-1 {
  font-size: 0.7em;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 1500px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 96px;
}

.u-section-2 .u-text-2 {
  line-height: 1.8;
  margin: 46px 46px 0 -50px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 58px 170px 0 127px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 55px 325px 0 -28px;
}

.u-section-2 .u-text-5 {
  margin: 0 46px 0 -50px;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 325px 0 -28px;
}

.u-section-2 .u-text-7 {
  margin: 0 46px 0 -50px;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 325px 0 -28px;
}

.u-section-2 .u-text-9 {
  margin: 0 46px 0 -50px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 1185px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 78px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 1185px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 79px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 44px;
    margin-right: 87px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 242px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 242px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 242px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 49px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 50px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 4px;
    margin-right: 47px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 202px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 202px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 202px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 23px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 24px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 28px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 29px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }
} .u-section-3 {
  min-height: 699px;
}

.u-section-3 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1190px);
  margin: 0;
}

.u-section-3 .u-image-1 {
  background-image: url("https://es.mathworks.com/help/examples/graphics/win64/Creating3DPlotsDefaultCmapExample_01.png");
  min-height: 800px;
  background-position: 50% 50%;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 800px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 27px;
}

.u-section-3 .u-image-2 {
  width: 454px;
  height: 354px;
  margin: -106px 0 0 auto;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 23px 79px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 27px 53px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 23px 53px 0 auto;
  padding: 7px 27px 7px 26px;
}

.u-section-3 .u-icon-1 {
  font-size: 0.7em;
}

.u-section-3 .u-line-1 {
  width: 143px;
  transform-origin: left center;
  margin: -20px auto 0 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 559px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-3 .u-image-1 {
    min-height: 632px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 632px;
  }

  .u-section-3 .u-image-2 {
    width: 443px;
    height: 346px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 405px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-3 .u-image-1 {
    min-height: 484px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-image-2 {
    width: 333px;
    height: 260px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 758px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-3 .u-image-1 {
    min-height: 726px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 477px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-3 .u-image-1 {
    min-height: 457px;
  }

  .u-section-3 .u-image-2 {
    width: 330px;
    height: 258px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 800px;
}

.u-section-4 .u-group-1 {
  width: 786px;
  min-height: 220px;
  height: auto;
  margin: 20px auto 0 0;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 20px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 20px 262px 0 0;
}

.u-section-4 .u-text-2 {
  line-height: 1.8;
  margin: 20px 142px 20px 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 372px;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-3 {
  position: relative;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 25px 0 0;
}

.u-section-4 .u-text-4 {
  position: relative;
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-4 .u-link-1 {
  border-style: solid;
  padding-bottom: 2px;
  margin: 30px auto 25px 0;
}

.u-section-4 .u-layout-cell-2 {
  background-image: none;
  min-height: 372px;
}

.u-section-4 .u-container-layout-3 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-5 {
  position: relative;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 25px 0 0;
}

.u-section-4 .u-text-6 {
  position: relative;
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-4 .u-link-2 {
  padding-bottom: 2px;
  border-style: solid;
  margin: 30px auto 25px 0;
}

.u-section-4 .u-layout-cell-3 {
  background-image: none;
  min-height: 372px;
}

.u-section-4 .u-container-layout-4 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-7 {
  position: relative;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 25px 0 0;
}

.u-section-4 .u-text-8 {
  position: relative;
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-4 .u-link-3 {
  margin: 30px auto 25px 0;
}

.u-section-4 .u-layout-cell-4 {
  background-image: none;
  min-height: 372px;
}

.u-section-4 .u-container-layout-5 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-9 {
  position: relative;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 25px 0 0;
}

.u-section-4 .u-text-10 {
  position: relative;
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-4 .u-link-4 {
  margin: 30px auto 25px 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 43px auto 60px 0;
  padding: 7px 27px 7px 26px;
}

.u-section-4 .u-icon-1 {
  font-size: 0.7em;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 735px;
  }

  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 216px;
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-2 {
    margin-right: 117px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 307px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 307px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 307px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-4 .u-link-3 {
    padding-bottom: 2px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 307px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-4 .u-link-4 {
    padding-bottom: 2px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 528px;
  }

  .u-section-4 .u-group-1 {
    width: 720px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 136px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 74px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 728px;
  }

  .u-section-4 .u-group-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 5px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 65px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 35px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    width: 340px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 6px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
    margin-right: 78px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 42px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-4 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-4 .u-text-9 {
    font-size: 1.5rem;
  }
} .u-section-5 {
  min-height: 350px;
}

.u-section-5 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1190px);
  margin: 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 350px;
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 30px;
}

.u-section-5 .u-image-1 {
  width: 346px;
  height: 240px;
  margin: -104px auto 0;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: -27px 6px 0 28px;
}

.u-section-5 .u-text-2 {
  margin: 6px 28px 0;
}

.u-section-5 .u-image-2 {
  background-image: url("https://es.mathworks.com/help/examples/matlab/win64/GS2DAnd3DPlotsExample_05.png");
  min-height: 350px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 699px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 373px;
  }

  .u-section-5 .u-image-1 {
    width: 285px;
    height: 217px;
    margin-top: 119px;
  }

  .u-section-5 .u-text-1 {
    width: 269px;
    margin-top: -4px;
    margin-left: 0;
    margin-right: 0;
    font-size: 2.25rem;
  }

  .u-section-5 .u-text-2 {
    margin-left: 45px;
    margin-right: 45px;
  }

  .u-section-5 .u-image-2 {
    min-height: 373px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-5 .u-image-1 {
    width: 319px;
    height: 166px;
    margin-top: 79px;
    margin-left: 27px;
  }

  .u-section-5 .u-text-1 {
    width: 206px;
    margin-top: 71px;
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-5 .u-image-2 {
    min-height: 286px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 26px;
    padding-right: 26px;
  }

  .u-section-5 .u-image-1 {
    width: 473px;
    margin-top: -104px;
    margin-left: 13px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 20px;
    margin-right: 289px;
    margin-left: 79px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 79px;
    margin-left: 80px;
  }

  .u-section-5 .u-image-2 {
    min-height: 322px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-5 .u-image-1 {
    width: 408px;
    margin-top: -112px;
    margin-left: -39px;
  }

  .u-section-5 .u-text-1 {
    width: 330px;
    margin-top: 47px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    width: 330px;
    margin-top: 16px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-2 {
    min-height: 203px;
  }
}.u-block-4e5c-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-4e5c-3 {
  position: absolute;
  left: 0;
}

.u-block-4e5c-4 {
  position: absolute;
  right: 0;
}

.u-section-6-1 .u-sheet-1 {
  min-height: 450px;
}

.u-section-6-1 .u-text-1 {
  margin: 99px auto 0;
}

.u-section-6-1 .u-text-2 {
  margin: 31px 59px 60px;
}

@media (max-width: 1199px) {
  .u-section-6-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

.u-section-6-2 .u-sheet-1 {
  min-height: 450px;
}

.u-section-6-2 .u-text-1 {
  margin: 112px auto 0;
}

.u-section-6-2 .u-text-2 {
  margin: 24px 59px 60px;
}

@media (max-width: 1199px) {
  .u-section-6-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

.u-section-6-3 .u-sheet-1 {
  min-height: 450px;
}

.u-section-6-3 .u-text-1 {
  margin: 108px auto 0;
}

.u-section-6-3 .u-text-2 {
  margin: 37px 59px 60px;
}

@media (max-width: 1199px) {
  .u-section-6-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

.u-section-6-4 .u-sheet-1 {
  min-height: 450px;
}

.u-section-6-4 .u-text-1 {
  margin: 100px auto 0;
}

.u-section-6-4 .u-text-2 {
  margin: 25px 59px 60px;
}

@media (max-width: 1199px) {
  .u-section-6-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-7 {
  min-height: 500px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-7 .u-image-1 {
  background-image: url("https://i.blogs.es/416f5d/hangover-math/1366_2000.jpg");
  min-height: 500px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 309px;
  }

  .u-section-7 .u-image-1 {
    min-height: 309px;
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    min-height: auto;
  }

  .u-section-7 .u-image-1 {
    min-height: 500px;
  }
} .u-section-8 {
  min-height: 350px;
}

.u-section-8 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1190px);
  margin: 0;
}

.u-section-8 .u-image-1 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/2/25/2D_Wavefunction_%281%2C2%29_Surface_Plot.png");
  min-height: 350px;
  background-position: 50% 50%;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 350px;
  background-image: none;
}

.u-section-8 .u-container-layout-2 {
  padding-left: 20px;
}

.u-section-8 .u-image-2 {
  width: 490px;
  height: 442px;
  margin: -204px auto 0 45px;
}

.u-section-8 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: -115px 54px 0 9px;
}

.u-section-8 .u-text-2 {
  line-height: 1.8;
  margin: 10px 135px 0 0;
}

.u-section-8 .u-line-1 {
  width: 145px;
  transform-origin: left center;
  margin: 9px auto 0 0;
}

@media (max-width: 1199px) {
   .u-section-8 {
    min-height: 254px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-8 .u-image-1 {
    min-height: 276px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 276px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 16px;
  }

  .u-section-8 .u-image-2 {
    width: 404px;
    height: 406px;
    margin-right: 58px;
    margin-left: 0;
  }

  .u-section-8 .u-text-1 {
    position: relative;
    margin-top: 143px;
    margin-right: 16px;
    margin-left: 0;
    font-size: 2.25rem;
  }

  .u-section-8 .u-text-2 {
    margin-right: 111px;
  }

  .u-section-8 .u-line-1 {
    width: 120px;
    height: 20px;
  }
}

@media (max-width: 991px) {
   .u-section-8 {
    min-height: 516px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-8 .u-image-1 {
    min-height: 211px;
    background-position: 0% 50%;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-8 .u-image-2 {
    width: 309px;
    height: 307px;
    margin-right: 44px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 13px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 85px;
  }

  .u-section-8 .u-line-1 {
    width: 92px;
  }
}

@media (max-width: 767px) {
   .u-section-8 {
    min-height: 747px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-8 .u-image-1 {
    min-height: 317px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 5px;
  }

  .u-section-8 .u-image-2 {
    width: 290px;
    margin-right: 33px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 9px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 64px;
  }

  .u-section-8 .u-line-1 {
    width: 86px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-8 .u-image-1 {
    min-height: 200px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 61px;
    padding-right: 61px;
  }

  .u-section-8 .u-image-2 {
    width: 244px;
    height: 298px;
    margin-right: 21px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 6px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 40px;
  }

  .u-section-8 .u-line-1 {
    width: 72px;
  }
}.u-block-39ac-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-39ac-3 {
  position: absolute;
  left: 0;
}

.u-block-39ac-4 {
  position: absolute;
  right: 0;
}

 .u-section-9-1 {
  background-image: linear-gradient(#005d8a, #f2f2f2);
}

.u-section-9-1 .u-sheet-1 {
  min-height: 450px;
}

.u-section-9-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 129px auto 0;
}

.u-section-9-1 .u-text-2 {
  margin: 30px 59px 60px;
}

@media (max-width: 1199px) {
  .u-section-9-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-9-1 .u-text-1 {
    font-size: 3rem;
  }
}

 .u-section-9-2 {
  background-image: linear-gradient(#adf6f2, #f2f2f2);
}

.u-section-9-2 .u-sheet-1 {
  min-height: 450px;
}

.u-section-9-2 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 129px 60px 0;
}

.u-section-9-2 .u-text-2 {
  margin: 30px 59px 60px;
}

@media (max-width: 1199px) {
  .u-section-9-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-9-2 .u-text-1 {
    font-size: 3rem;
  }
}

 .u-section-9-3 {
  background-image: linear-gradient(#005d8a, #f2f2f2);
}

.u-section-9-3 .u-sheet-1 {
  min-height: 450px;
}

.u-section-9-3 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 129px 60px 0;
}

.u-section-9-3 .u-text-2 {
  margin: 30px 59px 60px;
}

@media (max-width: 1199px) {
  .u-section-9-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-9-3 .u-text-1 {
    font-size: 3rem;
  }
}

 .u-section-9-4 {
  background-image: linear-gradient(#adf6f2, #f2f2f2);
}

.u-section-9-4 .u-sheet-1 {
  min-height: 450px;
}

.u-section-9-4 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 129px 60px 0;
}

.u-section-9-4 .u-text-2 {
  margin: 30px 59px 60px;
}

@media (max-width: 1199px) {
  .u-section-9-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-9-4 .u-text-1 {
    font-size: 3rem;
  }
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 800px;
}

.u-section-10 .u-layout-wrap-1 {
  margin-top: 94px;
  margin-bottom: 0;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 79px;
}

.u-section-10 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-10 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 40px 0 0;
}

.u-section-10 .u-text-2 {
  line-height: 1.06;
  margin: 19px 373px 0 0;
}

.u-section-10 .u-icon-1 {
  width: 57px;
  height: 57px;
  margin: 84px auto 0 19px;
  padding: 0;
}

.u-section-10 .u-text-3 {
  line-height: 1.06;
  margin: -57px 535px 0 87px;
}

.u-section-10 .u-text-4 {
  line-height: 1.06;
  margin: 47px 19px 0 525px;
}

.u-section-10 .u-icon-2 {
  width: 57px;
  height: 57px;
  margin: -57px auto 0 449px;
  padding: 0;
}

.u-section-10 .u-text-5 {
  line-height: 1.06;
  margin: 68px 455px 0 87px;
}

.u-section-10 .u-icon-3 {
  width: 57px;
  height: 57px;
  margin: -57px auto 0 19px;
  padding: 0;
}

.u-section-10 .u-text-6 {
  line-height: 1.06;
  margin: 48px 58px 0 534px;
}

.u-section-10 .u-icon-4 {
  width: 57px;
  height: 57px;
  margin: -57px auto 0 465px;
  padding: 0;
}

.u-section-10 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 15px auto 0 0;
  padding: 7px 27px 7px 26px;
}

.u-section-10 .u-icon-5 {
  font-size: 0.7em;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 786px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 179px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-10 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 0;
  }

  .u-section-10 .u-text-2 {
    margin-right: 173px;
  }

  .u-section-10 .u-icon-1 {
    margin-top: 113px;
  }

  .u-section-10 .u-text-3 {
    margin-top: -97px;
    margin-right: 422px;
    margin-left: 0;
  }

  .u-section-10 .u-text-4 {
    margin-top: -57px;
    margin-right: 0;
    margin-left: 344px;
  }

  .u-section-10 .u-icon-2 {
    margin-top: 97px;
    margin-left: 370px;
  }

  .u-section-10 .u-text-5 {
    margin-top: -44px;
    margin-right: 342px;
    margin-left: 0;
  }

  .u-section-10 .u-icon-3 {
    margin-top: 49px;
  }

  .u-section-10 .u-text-6 {
    margin-top: 7px;
    margin-right: 0;
    margin-left: 392px;
  }

  .u-section-10 .u-icon-4 {
    margin-top: -13px;
    margin-bottom: 21px;
    margin-left: 383px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 821px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-text-2 {
    margin-right: 0;
  }

  .u-section-10 .u-icon-1 {
    margin-top: 129px;
  }

  .u-section-10 .u-text-3 {
    margin-top: -113px;
    margin-right: 202px;
  }

  .u-section-10 .u-text-4 {
    margin-left: 124px;
  }

  .u-section-10 .u-icon-2 {
    margin-top: 113px;
    margin-left: 283px;
  }

  .u-section-10 .u-text-5 {
    margin-top: -60px;
    margin-right: 122px;
  }

  .u-section-10 .u-icon-3 {
    margin-top: 65px;
  }

  .u-section-10 .u-text-6 {
    margin-top: -9px;
    margin-left: 172px;
  }

  .u-section-10 .u-icon-4 {
    margin-top: 3px;
    margin-left: 293px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-10 .u-icon-1 {
    margin-top: 33px;
  }

  .u-section-10 .u-text-3 {
    margin-top: -17px;
    margin-right: 22px;
  }

  .u-section-10 .u-text-4 {
    margin-top: -63px;
    margin-left: 0;
  }

  .u-section-10 .u-icon-2 {
    margin-top: 23px;
    margin-left: 212px;
  }

  .u-section-10 .u-text-5 {
    margin-top: 42px;
    margin-right: 0;
  }

  .u-section-10 .u-icon-3 {
    margin-top: -24px;
  }

  .u-section-10 .u-text-6 {
    margin-top: 74px;
    margin-left: 0;
  }

  .u-section-10 .u-icon-4 {
    margin-top: -57px;
    margin-bottom: 0;
    margin-left: 220px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-container-layout-1 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-10 .u-text-1 {
    margin-top: 47px;
  }

  .u-section-10 .u-icon-1 {
    margin-top: 133px;
  }

  .u-section-10 .u-text-3 {
    margin-top: -117px;
    margin-right: 0;
  }

  .u-section-10 .u-text-4 {
    margin-top: -46px;
  }

  .u-section-10 .u-icon-2 {
    margin-top: 86px;
    margin-left: 133px;
  }

  .u-section-10 .u-text-5 {
    margin-top: -55px;
  }

  .u-section-10 .u-icon-3 {
    margin-top: 48px;
  }

  .u-section-10 .u-text-6 {
    margin-top: 19px;
  }

  .u-section-10 .u-icon-4 {
    margin-top: -35px;
    margin-bottom: 21px;
    margin-left: 139px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 800px;
}

.u-section-11 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 114px auto 0 0;
}

.u-section-11 .u-text-2 {
  font-size: 1.125rem;
  margin: 36px auto 0 0;
}

.u-section-11 .u-text-3 {
  font-size: 1.125rem;
  margin: 57px 72px 0 43px;
}

.u-section-11 .u-text-4 {
  font-size: 1.125rem;
  margin: 55px 0 0;
}

.u-section-11 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 43px 43px 60px auto;
  padding: 7px 27px 7px 26px;
}

.u-section-11 .u-icon-1 {
  font-size: 0.7em;
}

@media (max-width: 1199px) {
  .u-section-11 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-11 .u-btn-1 {
    margin-right: 0;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 1857px;
}

.u-section-12 .u-custom-html-1 {
  margin-bottom: 60px;
  margin-top: 0;
} .u-section-13 {
  background-image: linear-gradient(white, #e5e5e5);
}

.u-section-13 .u-sheet-1 {
  min-height: 780px;
}

.u-section-13 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  margin: 171px auto 0;
}

.u-section-13 .u-text-2 {
  line-height: 1.8;
  margin: 56px 0 0;
}

.u-section-13 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 56px auto 60px;
  padding: 7px 27px 7px 26px;
}

.u-section-13 .u-icon-1 {
  font-size: 0.7em;
}

@media (max-width: 767px) {
  .u-section-13 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-text-1 {
    font-size: 2.25rem;
  }
} .u-section-14 {
  background-image: none;
}

.u-section-14 .u-sheet-1 {
  min-height: 800px;
}

.u-section-14 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  text-align: start;
  margin: 163px auto 0 0;
}

.u-section-14 .u-text-2 {
  margin: 35px 273px 0 0;
}

.u-section-14 .u-custom-html-1 {
  height: auto;
  min-height: 69px;
  margin: 57px 704px 0 0;
}

.u-section-14 .u-list-1 {
  width: 426px;
  margin: 47px auto 60px 0;
}

.u-section-14 .u-repeater-1 {
  min-height: 91px;
  grid-template-columns: repeat(2, 50%);
  grid-gap: 0px;
}

.u-section-14 .u-container-layout-1 {
  padding: 10px 10px 10px 0;
}

.u-section-14 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  border-style: solid;
  margin: 0 auto 0 0;
  padding: 15px 51px 16px;
}

.u-section-14 .u-container-layout-2 {
  padding: 10px 10px 10px 0;
}

.u-section-14 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 15px 51px 16px;
}

@media (max-width: 1199px) {
  .u-section-14 .u-text-2 {
    margin-right: 73px;
  }

  .u-section-14 .u-custom-html-1 {
    margin-right: 504px;
  }

  .u-section-14 .u-list-1 {
    margin-top: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-text-2 {
    margin-right: 0;
  }

  .u-section-14 .u-custom-html-1 {
    margin-right: 284px;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-custom-html-1 {
    margin-right: 104px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-14 .u-custom-html-1 {
    margin-right: 0;
  }

  .u-section-14 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-14 .u-btn-1 {
    margin-top: 7px;
    padding: 9px 34px;
  }

  .u-section-14 .u-btn-2 {
    margin-top: 7px;
    padding: 9px 34px;
  }
}